.passedText {
  align-content: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 2rem;
}

iframe {
  display: block;
  margin: auto;
  padding: auto;
  padding-top: 3rem;
  border: none;
}
